/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 févr. 2021, 12:21:40
    Author     : michel
*/

:root {
    --primaryColor: #00838f;
    --primaryLightColor: #4fb3bf;
    --primaryDarkColor: #005662;

    --secondaryColor: #fbc02d;
    --secondaryLightColor: #fff263;
    --secondaryDarkColor: #c49000;

    --classicColor1: #414141;
    --classicColor2: #606267;
    --classicColor3: #ececec;
    --classicColor4: #ffffff;

    --disabled: #ececec;
    --information: #4fb2be;
    --danger: #fb3938;
    --alerte: #fbc02e;
    --valid: #b0d41c;
}

body {
    font-family: "Nunito", sans-serif;
    padding-top: 80px;
}
h1,
h2 {
    font-weight: bold;
    color: var(--primaryColor);
}

select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
.btnnav {
    color: var(--classicColor4);
    background-color: var(--primaryColor);
    width: 150px;
}

.btnnavActif {
    color: var(--classicColor1);
    background-color: var(--secondaryColor);
}
.navnesti {
    background-color: var(--primaryDarkColor);
}

.chemin {
    color: var(--primaryLightColor);
}
.lien {
    color: var(--primaryLightColor);
    text-decoration: underline;
}
.lien:hover {
    color: var(--primaryLightColor);
}

.trTable {
    color: var(--classicColor4);
    background-color: var(--primaryColor);
}

.inputRecherche {
    padding-left: 50px;
    border-color: var(--primaryLightColor);
    border-radius: 5px;
}
.input-icone {
    position: relative;
}
.input-icone i {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 9px 8px;
    color: var(--primaryDarkColor);
}
.btnBlanc {
    border-color: var(--primaryLightColor);
    background-color: var(--classicColor4);
    color: var(--primaryDarkColor);
    font-weight: bold;
}
.basRecette {
    background-color: var(--classicColor3);
}
input {
    border-color: var(--primaryLightColor);
}
.btnValider {
    background-color: var(--valid);
    color: var(--primaryColor);
    font-weight: bold;
}
.btnAnnuler {
    background-color: var(--primaryLightColor);
    color: var(--classicColor4);
    font-weight: bold;
}
.btnOK {
    background-color: var(--valid);
    color: var(--primaryColor);
    font-weight: bold;
}

.importer {
    background-color: var(--valid);
    color: var(--classicColor4);
    font-weight: bold;
}

.btnBas, .btnHaut {
    background-color: var(--alerte);
    margin-bottom: 2px;
    padding: 2px;
}
.btnCorbeille {
    background-color: var(--danger);
    color: var(--classicColor4);
    font-weight: bold;
    padding: 2px;
}
.preparation {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--primaryLightColor);
    resize: none;
}
.btnPlus {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--primaryLightColor);
    border-style: dashed;
    width: 100%;
    background-color: var(--classicColor4);
}
.modalCorps {
    background-color: var(--disabled);
}
.btnCommandes{
    background-color: var(--secondaryColor);
    color: var(--primaryDarkColor);
    font-weight: bold;
}
.modalTitre,
.modalAvertissement {
    background-color: var(--classicColor4);
    font-weight: bold;
}
.modalAvertissement {
    margin-left: 7rem !important;
    margin-right: 7rem !important;
}
.fa-exclamation-triangle {
    color: var(--danger);
}

.articlesImport{
    height: 50vh;
    width: 80vh;
    border-radius: 10px;
    border : 1px solid var(--primaryLightColor);
}
.articlesingredients{
    background-color: var(--classicColor4);
    height: 60vh;
    width: 40vh;
    border-radius: 10px;
    border : 1px solid var(--primaryLightColor);
}
.progress {
    height: 0.3rem;
}
.progress-bar{
    
    background-color:red;
}
.list-groupNoValid{
    background-color: var(--alerte);
}
.list-groupValid{
    background-color: var(--valid);
}
.erreur{
    color : var(--danger);
    font-size: 0.6rem;
}
.erreurGrand{
    color : var(--danger);
    font-size: 1rem;
}
/*login css*/

.bodylogin {
    background-image: url("../images/bg-nesti.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.divlogin {
    background-color: var(--classicColor4);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    color: var(--primaryColor);
}
.btnvalide {
    background-color: var(--information);
}
.disabled {
    background-color: var(--valid);
    width: 100%;
    height: 70px;
}
.erreurLogin {
    background-color: var(--danger);
    width: 100%;
    height: 70px;
    color : var( --classicColor3);
    font-size: 1.3rem;
}

@media (max-width: 1200px) {
    body {
        padding-top: 40px;
    }
}
